@value colors: "../styles/colors.css";
@value mainColor from colors;

@value sizes: "../styles/elements.css";
@value smallFontSize from sizes;

.title {
  color: mainColor;
  font-size: smallFontSize;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
